@import './base.css';
@import 'tailwindcss' important;
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

/* https://tailwindcss.com/docs/theme#theme-variable-namespaces */

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-text: var(--text-color);
  --color-light-text: var(--light-text);
  --color-background: var(--background);
  --color-light-bg: var(--light-bg);
  --color-border: var(--border-color);
  --color-input-border: var(--input-border-color);
  --color-success: var(--success-color);
  --color-error: var(--error-color);
  /* --color-header-bg: var(--header-bg); */
  /* --color-header-text: var(--header-text); */
  --color-input: var(--input);
  --color-input-bg: var(--input-bg);
  --color-scrollbar-bg: var(--scrollbar-bg);
  --color-scrollbar-thumb: var(--scrollbar-thumb);
  --color-scrollbar-thumb-hover: var(--scrollbar-thumb-hover);
  --color-secondary: var(--secondary-color);

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out forwards;
  --animate-fade-out-scale: fade-out-scale 0.2s ease-in forwards;
  --animate-slide-fade-in: slide-fade-in 0.3s ease-out forwards;
  --animate-slide-fade-out: slide-fade-out 0.2s ease-in forwards;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-out-scale {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  @keyframes slide-fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}
